flows.json
[
    {
        "id": "37f806c693661043",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a15f151c5c38855f",
        "type": "inject",
        "z": "37f806c693661043",
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"pedidos\":[{\"id\":1,\"valor\":500,\"cliente_inadimplente\":false,\"urgente\":false},{\"id\":2,\"valor\":1500,\"cliente_inadimplente\":false,\"urgente\":true},{\"id\":3,\"valor\":12000,\"cliente_inadimplente\":true,\"urgente\":false},{\"id\":4,\"valor\":80000,\"cliente_inadimplente\":false,\"urgente\":false}]}",
        "payloadType": "json",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "4a656e3f0e485658"
            ]
        ]
    },
    {
        "id": "4a656e3f0e485658",
        "type": "function",
        "z": "37f806c693661043",
        "name": "Processamento",
        "func": "let pedidos = msg.payload.pedidos;\nlet pedidosProcessados = [];\n\nfor (let i = 0; i < pedidos.length; i++) {\n    let pedido = pedidos[i];\n    // Regra de inadimplência (Prioridade máxima de bloqueio)\n    if (pedido.cliente_inadimplente) {\n        pedido.decisao = \"BLOQUEADO\";\n    }\n    // Regras de valor\n    else if (pedido.valor < 1000) {\n        pedido.decisao = \"APROVADO AUTOMATICAMENTE\";\n    }\n    else if (pedido.valor <= 10000){\n        pedido.decisao = \"ENVIAR PARA GERENTE\";\n    }\n    else {\n        pedido.decisao = \"ENVIAR PARA DIRETORIA\"\n    }\n\n    pedidosProcessados.push(pedido);\n}\n\n//Ordenação de pedidos urgentes\npedidosProcessados.sort((a, b) => {\n    if (a.urgente === b.urgente) return 0; // Se ambos forem iguais, não muda a ordem\n    return a.urgente ? -1 : 1; // Se 'a' for true, ele ganha prioridade\n});\n\nmsg.payload = pedidosProcessados\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "843b65da8f6c93f4"
            ]
        ]
    },
    {
        "id": "aabe6f18a918b18e",
        "type": "debug",
        "z": "37f806c693661043",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "843b65da8f6c93f4",
        "type": "function",
        "z": "37f806c693661043",
        "name": "Formatação",
        "func": "let resultado = \"Processamento concluído:\\n\";\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    let pedido = msg.payload[i];\n    let motivo = \"\";\n\n    if (pedido.cliente_inadimplente) {\n        motivo = \"Cliente inadimplente\";\n    }\n    else if (pedido.valor < 1000) {\n        motivo = \"Valor < 1000\";\n    }\n    else if (pedido.valor <= 10000) {\n        motivo = \"Valor entre 1000 e 10000\";\n    }\n    else {\n        motivo = \"Valor > 10000\";\n    }\n\n    if (pedido.urgente) {\n        motivo += \"Prioridade: URGENTE\";\n    }\n\nresultado += `---------------------------------\nPedido ID: ${pedido.id}\nValor: ${pedido.valor}\nInadimplente: ${pedido.cliente_inadimplente}\nUrgente: ${pedido.urgente}\nDecisão: ${pedido.decisao}\nMotivo: ${motivo}\n`;\n}\n\nmsg.payload = resultado;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 260,
        "wires": [
            [
                "aabe6f18a918b18e"
            ]
        ]
    }
]